@page
@using AudioMercantec.Pages;
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Audio Visualizer</title>
   

</head>
<body>
    
    <input type="file" id="fileInput" accept="audio/*" multiple>
    <div id="visualizers" class="audio-container"></div>
    <div class="waveform" id="waveform"></div>



    
   

    @section Scripts {

        <script>
            // Call the initialization function when the page is first rendered
            if (@Html.Raw(ViewData["Waveform"].ToString().ToLower())) {
                initializeWaveform();
            }
        </script>
    }
    <div id="container"></div>
</body>
</html>
<style>
    
    .navbar-nav .nav-item .nav-link {
        color: white; /* White text color */
    }
    
    

    .sticky-header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000; /* Ensure it's above other content */
        background-color: #20062b;
    }
    .audioLogo{
        height: 60px;
        width:250px;
        margin-right: 40px;
        
    }

    body {
        
        
    
        padding-top: 70px;
    }
    .audio{
      color:white;
      
    }

    .audio-controls {
        display: flex;
        flex-wrap: wrap;
    }

    .audio-container {
        margin-top: 20px;
        position: relative;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap; /* Allow containers to wrap to the next line */
        
    }

       

    .download-button {
        padding: 4px 8px; /* Adjust padding to make the button smaller */
        background-color: #7f77a7;
        color: black;
        border: none;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px; /* Adjust font size if needed */
        margin-top: 20px; /* Adjust as needed */
        margin-bottom: 20px;
        max-height: 40px;
        min-height: 40pX;
        margin-left: 10px;
    }

        .download-button:hover{
            background-color: #9284b1;
            color: white;
        }

    .description {
        flex: 1;
        background-color: grey;
        padding: 8px 16px;
        color: white;
        text-align: start;
        text-decoration: none;
        font-size: 12px;
        border-radius: 4px;
        max-width: 300px;
        margin-right: 10px;
        max-height: 120px;
       
        white-space: pre-wrap; /* Preserve line breaks */
        word-wrap: break-word; /* Break long words */
       
    }
    .tags{
        color: white;
        font-size: 16px;
        text-align: start;
        text-decoration: none;
        max-width: 100px;
    }
    .category{
        color: white;
        font-size: 16px;
        text-align: start;
        text-decoration: none;
        max-width: 100px;
    }

    .logo {
        display: inline-block; /* Ensure elements are inline */
        position: relative; /* Position elements relatively for z-index */
        z-index: 0; /* Set a lower z-index than waveform */
        height: 80px;
        width: 80px;
        margin-left: 10px;
        
    }

    .waveform {
        flex: 1; /* Allow waveform to grow to fill remaining space */
        position: relative; /* Position waveform relatively for z-index */
        z-index: 1; /* Put waveform in front */
        width: 800px;
    }

    .title {
        top: 0;
        color: white;
        position: absolute;
    }

    .edit-button {
        top: 0;
        color: red;
       
    }

    .hr {
       
        bottom: 20px;
        background-color: white;
    }

    .peak-amplitude{
        color: white;
    }
    

</style>
