@page

<body class="body">

    <div class="container-lg w-50  ">
        <div class=" row">
            <button class="col text-white m-4 h1 bg-transparent border-0">
                Login
            </button>
            <a href="SignUp" class=" Sign col text-white text-center m-4 h1 bg-transparent border-0 ">
                Sign Up
            </a>
            
        </div>

        <div class=" row">
            <hr class="linse col" />
            <hr class="linse2 col " />
        </div>
        <form class="text-center">
            <div class="form-group">
                <label class="EmailText h4" for="exampleInputEmail1">Email address</label>
                <br />
                <input type="email" class="forms" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">

            </div>
            <div class="form-group ">
                <br />
                <label class="PasswordText h4" for="exampleInputPassword1">Password</label>
                <br />
                <input type="password" class="forms" id="exampleInputPassword1" placeholder="">
            </div>
            <br />
            <br />

            <button type="submit" class="btn ">Login</button>
        </form>
    </div>
</body>

<style>
    body {
        background-color: #18181A;
    }
</style>