@page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Audio Visualizer</title>


</head>
<body class="body">
    <!-- Main container with a large bootstrap class -->
    <div class="container-lg">
        <!-- Row containing Login and Sign Up buttons -->
        <div class="row">
            <!-- Login button styled with Bootstrap and custom classes -->
            <button class="col text-white m-4 h1 bg-transparent border-0">
                Login
            </button>
            <!-- Sign Up link styled as a button with Bootstrap and custom classes -->
            <a href="SignUp" class="Sign col text-center m-4 h1 bg-transparent border-0">
                Sign Up
            </a>
        </div>

        <!-- Row containing horizontal rules for styling -->
        <div class="row">
            <hr class="linse col" />
            <hr class="linse2 col" />
        </div>

        <!-- Centered form for user login -->
        <form class="text-center">
            
            <div class="form-group">
                <br />
                <!-- Email input field -->
                <input type="email" class="forms" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
            </div>

            
            <div class="form-group">
                <br />
                <br />
                <!-- Password input field -->
                <input type="password" class="forms" id="exampleInputPassword1" placeholder="Password">
            </div>
            <br />
            <br />

            <!-- Submit button for the form -->
            <button type="submit" class="btn">Login</button>
        </form>
    </div>

    <!-- Placeholder div for additional spacing i'm using as an quick fix -->
    <div class="under"></div>
</body>
</html>


<style>
    body {
        background-color: #7ab5b6;
    }
</style>
