@page
@model AudioMercantec.Pages.SignUpModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Audio Visualizer</title>


</head>
<body class="body">

    <div class="container-lg">
    <!-- Row containing Login and Sign Up buttons -->
    <div class="row">
        <!-- Login link styled as a button with Bootstrap and custom classes -->
        <a href="LoginPage" class="sign col text-center m-4 h1 bg-transparent border-0">
            Login
        </a>
        <!-- Sign Up button styled with Bootstrap and custom classes -->
        <button class="sign col text-white m-4 h1 bg-transparent border-0">
            Sign Up
        </button>
    </div>

    <!-- Row containing horizontal rules for styling -->
    <div class="row">
        <hr class="linse2 col" />
        <hr class="linse col" />
    </div>

    <!-- Centered form for user sign up -->
    <form class="text-center">
        <!-- Form group for email input -->
        <div class="form-group">
            <br />
            <!-- Email input field -->
            <input type="email" class="forms text-white" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
        </div>

        <!-- Form group for password input -->
        <div class="form-group">
            <br />
            <br />
            <!-- Password input field -->
            <input type="password" class="forms text-white" id="exampleInputPassword1" placeholder="Password">
        </div>

        <!-- Form group for confirm password input -->
        <div class="form-group">
            <br />
            <br />
            <!-- Confirm Password input field -->
            <input type="password" class="forms text-white" id="exampleInputPassword2" placeholder="Confirm Password">
        </div>
        <br />

        <!-- Submit button for the form
             <button type="submit" class="btn">Sign Up</button>
                </form>
            </div>
                    <!-- Placeholder div for additional spacing i'm using as an quick fix  -->
            <div class="under"></div>
</body>
</html>
<style>
    body {
        background-color: #7ab5b6;
    }
</style>