body {
    background-color: #1a1a1a; /* Dark background color */
}

.background-pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff4d4d, #4d79ff, #00cc99); /* Multi-colored gradient */
    background-size: 600% 600%; /* Adjust this value to control the gradient spread */
    animation: gradientAnimation 20s ease infinite; /* Animation for smooth color transition */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
input, label {
    display: block;
}
textarea {
    resize: none;
    width: 400px;
    height: 100px;
}